<%- include('partials/head') %>



    <%- include('partials/navbar') %>

        <div class="home">
            <%= text %>
        </div>
        <style>
            body {
                background-color: <%=rgb %>;
            }
        </style>

        <%- include('partials/end') %>