<%- include('partials/head') %>



    <%- include('partials/navbar') %>

        <div class="container">
            <h1>
                <%= theTweet.tweet %>
            </h1>
            <p class="pOfShowEach">
                By: <%= theTweet.username %>
            </p>
            <p> Tweet-ID: <%= theTweet.id %>
            </p>
            <a href="/uglytweets/<%= theTweet.id%>/edit">Edit Tweet</a>
            <form method="POST" action="/uglytweets/<%= theTweet.id %>?_method=DELETE">
                <button>Delete Tweet?</button>
            </form>

        </div>


        <%- include('partials/end') %>